
<nav id="homelogo">
    <img src="/images/trainlogo.png" alt="train logo" class="logo">
    <a href="/"><h3>Ticketac</h3></a>
  </nav>
  <!-- <div id="separatorhead"></div> -->
  <nav id="headnav">
    <a href="/logout"><h3 class=" navbuttons <%=routename == 'login'? 'active' : '' %>"><%=routename == 'login'? 'Connection' : 'Disconnect' %></h3></a>
    <a href="/lastrip"><h3 class=" navbuttons <%=routename == 'lastrip'? 'active' : '' %>">My last trips</h3></a>
    <a href="/myplanedtrips"><h3 class=" navbuttons <%=routename == 'planedtrips'? 'active' : '' %>">My coming trips</h3></a>
  </nav>