
<div id="homelogo">
    <img src="/images/trainlogo.png" alt="train logo" class="logo">
    <h3>Ticketac</h3>
  </div>
  <!-- <div id="separatorhead"></div> -->
  <div id="headnav">
    <a href=""><h3 class="<%=routename == 'login'? 'active' : '' %>">Connection</h3></a>
<a href=""><h3 class="<%=routename == 'lastrip'? 'active' : '' %>">My last trips</h3></a>
  </div>