<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <%- include('header',{routename}); %>
     
    </header>
    <main>
      <div id="container">
        <div class="infolog">
          <h2>Sign-in :</h2>
          <form action="/sign-in" class="inputfields" method="POST" >
            <input type="text" placeholder="name" class="loginput" name="email" >
            <input type="password" placeholder="Password" class="loginput" name="pwd">
            <button type="submit" class="confirm">Confirm</button>
          </form>
        </div>
        <div class="infolog">
          <h2>Sign-up :</h2>
          <form action="/sign-up" class="inputfields" method="POST" >
            <input type="text" placeholder="Name" class="loginput" name="lastName">
            <input type="text" placeholder="Firstname" class="loginput" name="firstName">
            <input type="text" placeholder="Email" class="loginput" name="email">
            <input type="password" placeholder="Password" class="loginput"name="pwd">
            <button type="submit" class="confirm">Confirm</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <p>© Judith Poulvelarie & Maxime Lapeyrere - La Capsule Batch 28</p>
    </footer>
  </body>
</html>
